.sponsor_card {
  box-shadow: 0 8px 30px rgba(33, 54, 61, 0.15);
}

.sponsor_header {
  border-bottom: 1px solid #eee;
}

.sponsor_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor_header_title {
  color: #363636;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: .75rem;
}

.sponsor_image {
  max-width: 320px;
}

.sponsor_footer {
  font-size: 12px;
  letter-spacing: 0.12rem;
  padding: 7px 0;
  display: flex;
  justify-content: center;
}

.sponsor_footer_link {
  padding: 7px;
}

.sponsor_btn {
  display: inline-flex;
  text-align: center;
  padding: 7px 10px;
  border-radius: 40px;
  background: #4f8bf8;
  color: #fff;
}