.section_title {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 10px;
}

.section_row {
  margin: 30px 0;
}

.section_row_title {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px 0;
  margin: 20px 0;
}

.sponsor_card {
  box-shadow: 0 8px 20px rgba(33, 54, 61, 0.15);
}

.sponsor_header {
  border-bottom: 1px solid #eee;
}

.sponsor_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor_header_title {
  color: #363636;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: .75rem;
}

.sponsor_image {
  max-width: 190px;
}

.sponsor_footer {
  font-size: 12px;
  letter-spacing: 0.12rem;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.sponsor_footer_link {
  padding: 7px;
}

.sponsor_btn {
  display: inline-flex;
  text-align: center;
  padding: 7px 10px;
  background: #4f8bf8;
  color: #fff;
}