* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#app {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="email"],
.textarea {
    background: transparent;
    border: 1px solid white;
    color: #FFF;
}

input::placeholder,
.textarea::placeholder {
  color: #CACACA !important;
}
