.intro {
  width: 100%;
  height: 100%;
}

.intro__image {
  background: url('/assets/intro.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__image::before {
  background-color: rgb(240, 14, 46);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.intro__image::after {
  background-color: rgb(25, 37, 80);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__banner {
  z-index: 2;
}
.intro__banner img {
  width: 600px;
}

.intro__nav {
  list-style: none;
  text-align: center;
  padding: 0;
}
.intro__nav a {
  color: #FAFAFA;
  text-decoration: none;
}
.intro__nav li {
  display: inline-block;
  padding: 5px;
}
